.queue_continer {
    width: 100%;
    height: 35%;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(75deg, rgba(2, 0, 36, 1) 0%, rgba(40, 58, 88, 0) 41%, rgba(0, 212, 255, 1) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Queue{
    height: 85%;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
}

.upnext{
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    text-align: left;
    margin: 10px 0;
}

.queue_list{
    height: 80%;
    width: 100%;
    overflow-y: auto;
}
.track_name{
    width: 75%;
    text-overflow: ellipsis;
}
.track-item{
    justify-content: space-between;
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.track-item p{
    margin: 0;
}
.track-item:hover{
    transform: scale(0.96);
}
